.pagination
    .pagination__recent 
        a(href="#").pagination__text-link recent posts

    .pagination__current 
        .pagination__current-item
            a(href="#").active 1
        .pagination__current-item
            a(href="#") 2
        .pagination__current-item
            a(href="#") 3

    .pagination__older
        a(href="#").pagination__text-link older posts