.footer-nav {
    list-style-type: none;
}

.footer-nav__item {
    & + & {
        margin-top: 15px;
    }

    a {
        text-decoration: none;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #8E9399;

        &:hover {
            text-decoration: underline;
        }
    }
}